<footer class="footer has-background-primary has-text-white">
  <div class="content has-text-centered">
    <div>
      <span class="is-size-1">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </span>
      <span class="is-size-1 mx-5">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </span>
      <span class="is-size-1">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </span>
    </div>

    <p class="">
      <strong class="has-text-white"
        >Copyright © 2021. Rodos los derechos reservados.</strong
      >
    </p>
  </div>
</footer>
