<div class="section">
  <div class="notification is-primary">
    <div class="columns">
      <div class="column is-align-self-center">
        <p class="is-size-2">
          <strong> Atención las 24 horas. </strong>
        </p>
        <p>
          <strong>
            Se atienden Perros, Gatos, Hamsters, Aves y Tortugas, si tienes una
            mascota diferente, no te preocupes con nuestra red de aliados
            trataremos de encontrar un veterinario con experiencia para tu
            amiguito peludo.
          </strong>
        </p>
        <div class="my-5">
          <button class="button">
            <strong> Reservar Consulta </strong>
          </button>
        </div>
      </div>
      <div class="column has-text-centered">
        <img
          src="https://images.vexels.com/media/users/3/203114/isolated/preview/abe1e1db59d97c42ce2e3f93162a90e8-lindo-perrito-con-ilustracion-de-hueso.png"
          alt="perrito"
        />
      </div>
    </div>
  </div>
</div>
