<div class="bg-banner">
  <img
    src="https://www.guiadelnino.com/var/guiadelnino.com/storage/images/educacion/aprender-a-cuidar-el-planeta/actividades-para-acercar-al-nino-a-los-animales/7606949-8-esl-ES/actividades-para-acercar-al-nino-a-los-animales_w1140.jpg"
    alt="banner"
  />
  <div class="bg-banner-content">
    <p class="is-size-1">Veterinaria Huellitas</p>
    <p class="is-size-5">
      Tu mejor opción para el cuidado de tus mascotas. <br />
      Estamos 100% comprometidos con la salud de tus amores peludos
    </p>
  </div>
</div>
