<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container mt-5 mb-5 has-background-light">
    <div class="tabs is-boxed">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"
              ><i class="fas fa-image" aria-hidden="true"></i
            ></span>
            <span>Reservar</span>
          </a>
        </li>
        <li>
          <a href="/agenda">
            <span class="icon is-small"
              ><i class="fas fa-music" aria-hidden="true"></i
            ></span>
            <span>Agenda</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="m-5 pb-5">
      <div class="field">
        <label class="label">Nombre Completo</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Nombres Apellidos"
            formControlName="userName"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Fecha</label>
            <div class="control">
              <input
                class="input"
                type="date"
                name="date"
                min="2021-11-26"
                max="2021-12-31"
                formControlName="fecha"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Hora</label>
            <div class="control">
              <input
                class="input"
                type="time"
                name="time"
                formControlName="hora"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Especie</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="e.j: Perro"
            formControlName="especie"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Tipo Consulta</label>
        <div class="control">
          <div class="select">
            <select formControlName="tipoConsulta">
              <option>General</option>
              <option>Cirugía</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Descripcion de Sintomas:</label>
        <div class="control">
          <textarea
            class="textarea"
            placeholder="Cuentanos que padece tu mascota..."
            formControlName="desSintomas"
          ></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" />
            Acepto terminos y condiciones.
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-link"
            type="submit"
            [disabled]="!profileForm.valid"
            [swal]="['Exito!', 'Tu reserva ha sido agendada', 'success']"
          >
            Reserar
          </button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>
